.button{
-fx-background-color: #ebebeb;
-fx-background-radius: 0em;
}

.button:hover{
-fx-background-color: #fff;
}

.button2{
-fx-background-color: #ebebeb;
-fx-background-radius: 0em;
}

.button2:hover{
-fx-background-color: #fff;
}

.menubuttonclicked{
-fx-background-color: #fff;
}

.panel{
    -fx-background-color: #ebebeb;
    -fx-border-color: gray;
    -fx-border-width: 0 0 0.4 0.4;
}

.panel2{
    -fx-background-color: #ebebeb;
    -fx-border-color: gray;
    -fx-border-width: 0 0.4 0  0;
}

.panel3{
    -fx-background-color: #ebebeb;
    -fx-border-color: gray;
    -fx-border-width: 0 0 0.1 0;
}

.soft-border{
    -fx-background-color: #ebebeb;
    -fx-border-color: gray;
    -fx-border-width: 0 0 0.1 0;
}
